.weidgets{
    flex: 0.3;
    position: sticky;
    top: 0;
    z-index: 100;
    height: fit-content;
}
.search-icon{
    font-size: 30px!important;
    color: #4f505161;
}
.twitter-input{
    background-color: #0000001f;
    padding: 10px;
    border-radius: 30px;
}
.search-input{
    background-color: transparent!important;
}
.whatishap{
    background-color: #80808017;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    overflow-y: scroll;
    min-width: fit-content;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.whatishap .header{
    font-size:25px;
    font-weight: 700;
    margin: 10px 10px 20px;
}