*{
  margin: 0;
  padding: 0;
}
body{
  --twiter-color:#50b7f5;
  --twiter-bg:#e6ecf0;
}
.App{
  display: flex;
  height: fit-content;
  max-width: 1250px;
  margin: auto;
}

@media (min-width: 768px){
.side-text {
    display: block!important;
  }
}
@media(max-width:767px){
  .sidebaroptions{
    justify-content: center;
  }
  .weidgets{
    display: none;
  }
}
